################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cts.web.core/.vs/cts.web.core/v15
/cts.web.core/cts.web.core/obj
/cts.web.core/.vs/cts.web.core/v16/Server/sqlite3
